#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #clubs {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #clubs td, #clubs th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #clubs tr:nth-child(even){background-color: #f2f2f2;}
  
  #clubs tr:hover {background-color: #ddd;}
  
  #clubs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .win {
    color: green;
  }

  .lose {
    color: red;
  }

  .draw {
    color: grey;
  }